	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
				<span><h4>{{position}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destino.nombre}}</h3>
			<p>Servicios</p>
			<ul>
				<li *ngFor="let s of destino.servicios">
					<span [ngSwitch]="s">
						<i *ngSwitchCase="'desayuno'" style="color: green;">{{s}}</i>
						<i *ngSwitchDefault>{{s}}</i>
					</span>
				</li>
			</ul>
			<a	href="#" class="btn-card" (click)="ir()" >Ir!</a>
			<span *ngIf="destino.isSelected()">
				<span ngNonBindable>- {{PREFERIDO}} -</span>
			</span>
			<a [routerLink]="['/destino']">Ver Detalle</a>
		</div>
	</div>
